<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1, user-scalable=no"
	name="viewport">
	<meta name="referrer" content="never">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>[[${session.settings?.title}]]</title>
<link rel="shortcut icon" th:if="${session.settings?.icon !=null}"
	th:href="|@{/}${session.settings?.icon?.savePath}${session.settings?.icon?.generateName}|"
	type="image/x-icon" />
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/websites/fushanweb/css/reset.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/websites/fushanweb/css/news_info.css}">
	<link rel="stylesheet" type="text/css"
	th:href="@{/assets/websites/fushanweb/css/news.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/websites/fushanweb/css/pagination.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/websites/fushanweb/css/local.css}">
<link th:href="@{/assets/websites/fushanweb/css/index.css}"
	rel="stylesheet">
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/websites/fushanweb/css/font-awesome.css}">
<script type="text/javascript"
	th:src="@{/assets/websites/fushanweb/js/stats.js}" charset="UTF-8"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/websites/fushanweb/css/ddsmoothmenu.css}">

</head>
<style>
.flexslider .slides a img {
	width: 100%;
}
</style>
<body>

	<div th:replace="websites/fushanweb/public/public::top"></div>

	<div class="main_info clearfix">
		<div class="container">


			<div th:replace="websites/fushanweb/public/public::breadcrumb"></div>



			<div class="lanmu_info" id="lanmu_info">

				<div class="left">
					<div class="zixun_info">
						<div class="zixun_info_head">
							<h3>[[${news?.title}]]</h3>
							<p>
								发布人:<span>[[${news?.author}]]</span>
								<!-- <? // =$news['photograph']?"摄像者：<span>".$news['photograph']."</span>":""?> -->
								浏览量: <span>[[${news?.views}]]</span>日期: <span>[[${#dates.format(news?.createTime,'yyyy-MM-dd
									HH:mm:ss')}]]</span>
							</p>
						</div>
						<div class="zixun_info_container" th:utext="${news?.content}">
						</div>
					</div>
				</div>







				<div class="right">
					<div th:replace="websites/fushanweb/public/public::remen"></div>
				</div>
			</div>
		</div>


	</div>


	<div th:replace="websites/fushanweb/public/public::footer"></div>



</body>

</html>