<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head th:include="public/public_css::pub_css"></head>
<head>
<meta charset="utf-8">
<link th:href="@{/assets/js/footable/css/footable.core.css?v=2-0-1}"
	rel="stylesheet" type="text/css">
<link th:href="@{/assets/js/footable/css/footable.standalone.css}"
	rel="stylesheet" type="text/css">
<link th:href="@{/assets/js/footable/css/footable-demos.css}"
	rel="stylesheet" type="text/css">
</head>

<body>
	<!-- Preloader -->
	<div id="preloader">
		<div id="status">&nbsp;</div>
	</div>
	<!-- TOP NAVBAR -->
	<div th:replace="public/public::top"></div>
	<!-- /END OF TOP NAVBAR -->

	<!-- SIDE MENU -->
	<div th:replace="public/public::left(activeUri='')"></div>
	<!-- END OF SIDE MENU -->

	<!--  PAPER WRAP -->
	<div class="wrap-fluid">
		<div class="container-fluid paper-wrap bevel tlbr">


			<!-- CONTENT -->
			<!--TITLE -->
			<div th:replace="public/public::title"></div>
			<!--/ TITLE -->

			<!-- BREADCRUMB 
			<div th:replace="public/public::menu"></div>-->
			<!-- END OF BREADCRUMB -->



			<div class="content-wrap">
				<div class="row">

					<div class="col-lg-4">
						<div id="RealTimeClose" class="nest">
							<div class="title-alt">
								<h6>
									<span class="fontawesome-resize-horizontal"></span>&nbsp;今日入库
								</h6>
							</div>
							<div class="content-wrap">
								<div class="row">
									<div class="col-sm-12">
										<div class="body-nest" id="Footable">

											<table class="table-striped footable-res footable metro-blue"
												data-page-size="6" data-limit-navigation="5">
												<thead>
													<tr>
														<th>设备名称</th>
														<th>设备型号</th>
														<th>入库数量</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="in:${in}">
														<td th:text="${in?.stock?.name}"></td>
														<td th:text="${in?.stock?.model}"></td>
														<td th:text="${in?.num}"></td>
													</tr>
												</tbody>
												<tfoot th:if="${!#lists.isEmpty(in)}">
													<tr>
														<td colspan="5">
															<div class="pagination pagination-centered "></div>
														</td>
													</tr>
												</tfoot>
											</table>

										</div>


									</div>

								</div>


							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div id="RealTimeClose" class="nest">
							<div class="title-alt">
								<h6>
									<span class="fontawesome-resize-horizontal"></span>&nbsp;今日出库
								</h6>
							</div>
							<div class="content-wrap">
								<div class="row">
									<div class="col-sm-12">
										<div class="body-nest" id="Footable">

											<table class="table-striped footable-res footable metro-blue"
												data-page-size="6" data-limit-navigation="5">
												<thead>
													<tr>
														<th>设备名称</th>
														<th>设备型号</th>
														<th>出库数量</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="out:${out}">
														<td th:text="${out?.stock?.name}"></td>
														<td th:text="${out?.stock?.model}"></td>
														<td th:text="${out?.num}"></td>
													</tr>

												</tbody>
												<tfoot>
													<tr>
														<td colspan="5" th:if="${!#lists.isEmpty(out)}">
															<div class="pagination pagination-centered"></div>
														</td>
													</tr>
												</tfoot>
											</table>

										</div>


									</div>

								</div>


							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div id="RealTimeClose" class="nest">
							<div class="title-alt">
								<h6>
									<span class="fontawesome-resize-horizontal"></span>&nbsp;库存报警
								</h6>
							</div>
							<div class="content-wrap">
								<div class="row">
									<div class="col-sm-12">
										<div class="body-nest" id="Footable">

											<table class="table-striped footable-res footable metro-blue"
												data-page-size="6" data-limit-navigation="5">
												<thead>
													<tr>
														<th>设备名称</th>
														<th>设备型号</th>
														<th>当前库存量</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="low:${low}">
														<td th:text="${low?.name}"></td>
														<td th:text="${low?.model}"></td>
														<td th:text="${low?.inventory}"></td>
													</tr>

												</tbody>
												<tfoot>
													<tr>
														<td colspan="5" th:if="${!#lists.isEmpty(low)}">
															<div class="pagination pagination-centered"></div>
														</td>
													</tr>
												</tfoot>
											</table>

										</div>


									</div>

								</div>

							</div>
						</div>
					</div>
				</div>
			</div>













			<div th:replace="public/public::myModal"></div>
		</div>
	</div>
	<!--  END OF PAPER WRAP -->
	<!-- 右侧隐藏菜单start -->
	<div th:replace="public/public::right"></div>
	<!-- 右侧隐藏菜单end-->
	<!-- 底部js -->
	<div th:replace="public/public_js::pub_js"></div>
	<div th:replace="public/public_js::public_script"></div>
	<div th:replace="public/public::footer"></div>
	<div th:replace="public/public_js::validator"></div>
	<!-- GAGE -->
	<script type="text/javascript" th:src="@{/assets/js/toggle_close.js}"></script>
	<script th:src="@{/assets/js/footable/footable.all.min.js}"
		type="text/javascript"></script>



	<script type="text/javascript">
		$(function() {
			$('.footable-res').footable();
		});
	</script>

</body>

</html>
