<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="public/public_css::pub_css"></head>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link th:href="@{/plugs/bootstrap-fileinput/css/fileinput.css}"
	media="all" rel="stylesheet" type="text/css" />
</head>

<body>
	<!-- Preloader -->
	<div id="preloader">
		<div id="status">&nbsp;</div>
	</div>
	<!-- TOP NAVBAR -->
	<div th:replace="public/public::top"></div>
	<!-- /END OF TOP NAVBAR -->

	<!-- SIDE MENU -->
	<div th:replace="public/public::left(activeUri='website')"></div>
	<!-- END OF SIDE MENU -->

	<!--  PAPER WRAP -->
	<div class="wrap-fluid">
		<div class="container-fluid paper-wrap bevel tlbr">


			<!-- CONTENT -->
			<!--TITLE -->
			<div th:replace="public/public::title"></div>
			<!--/ TITLE -->

			<!-- BREADCRUMB -->
			<div th:replace="public/public::menu"></div>
			<!-- END OF BREADCRUMB -->

			<div class="content-wrap">
				<div class="row">


					<div class="col-sm-12">
						<!-- BLANK PAGE-->

						<div style="margin: -20px 15px;" class="nest" id="Blank_PageClose">
							<div class="title-alt">
								<h6>网站配置</h6>
								<div class="titleClose">
									<a class="gone" href="#Blank_PageClose"> <span
										class="entypo-cancel"></span>
									</a>
								</div>
								<div class="titleToggle">
									<a class="nav-toggle-alt" href="#Blank_Page_Content"> <span
										class="entypo-up-open"></span>
									</a>
								</div>

							</div>


							<div class="body-nest" id="Blank_Page_Content">
								<div class="row">
									<!-- edit form column -->
									<div class="col-md-12 personal-info">
										<form class="form-horizontal" enctype="multipart/form-data"
											id="settingsForm" name="settingsForm"
											th:action="@{/school/settings}" method="post">

											<div class="form-group">
												<label class="col-lg-1 control-label">Logo图片：</label>
												<div class="col-lg-6" id="logofile">
													<input id="filelogo" name="filelogo" type="file">
												</div>
											</div>
											<input type="hidden"
												th:value="${settings!=null&&settings.logo!=null}?${settings.logo.id}"
												name="oldLogo" id="settingslogo">


											<div class="form-group">
												<label class="col-lg-1 control-label">网站icon：</label>
												<div class="col-lg-6" id="iconfile">
													<input id="fileicon" name="fileicon" type="file">
												</div>
											</div>

											<input type="hidden"
												th:value="${settings!=null&&settings.icon!=null}?${settings.icon.id}"
												name="oldIcon" id="settingsicon"> <input
												type="hidden" name="id"
												th:value="${settings!=null}?${settings.id}">


											<div class="form-group">
												<label class="col-lg-1 control-label">首页Banana：</label>
												<div class="col-lg-6">
													<input id="file" name="filebanana" type="file" multiple>
												</div>
											</div>


											<div class="form-group">
												<label class="col-lg-1 control-label">二维码：</label>
												<div class="col-lg-6" id="qRcodefile">
													<input id="fileqRcode" name="fileqRcode" type="file">
												</div>
											</div>
											<input type="hidden"
												th:value="${settings!=null&&settings.qRcode!=null}?${settings.qRcode.id}"
												name="oldqRcode" id="oldqRcode">


											<div class="form-group">
												<label class="col-lg-1 control-label">title：</label>
												<div class="col-lg-6">
													<input class="form-control" id="title"
														placeholder="请输入网站title" name="title"
														th:value="${settings!=null}?${settings.title}">
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-1 control-label"> 地址：</label>
												<div class="col-lg-6">
													<input class="form-control" id="address"
														placeholder="请输入地址" name="address"
														th:value="${settings!=null}?${settings.address}">
												</div>
											</div>
											
											<div class="form-group">
												<label class="col-lg-1 control-label"> 邮编：</label>
												<div class="col-lg-6">
													<input class="form-control" id="postCode"
														placeholder="请输入邮编" name="postCode"
														th:value="${settings!=null}?${settings.postCode}">
												</div>
											</div>
											
											<div class="form-group">
												<label class="col-lg-1 control-label"> 联系电话：</label>
												<div class="col-lg-6">
													<input class="form-control" id="connectPhone"
														placeholder="请输入联系电话" name="connectPhone"
														th:value="${settings!=null}?${settings.connectPhone}">
												</div>
											</div>
											
											<div class="form-group">
												<label class="col-lg-1 control-label"> 电子邮箱：</label>
												<div class="col-lg-6">
													<input class="form-control" id="email"
														placeholder="请输入电子邮箱" name="email"
														th:value="${settings!=null}?${settings.email}">
												</div>
											</div>
											
											<div class="form-group">
												<label class="col-lg-1 control-label"> 沪备案号：</label>
												<div class="col-lg-6">
													<input class="form-control" id="recordNumber"
														placeholder="请输入沪备案号" name="recordNumber"
														th:value="${settings!=null}?${settings.recordNumber}">
												</div>
											</div>
											
											<div class="form-group">
												<label class="col-lg-1 control-label"> 工信部备案号：</label>
												<div class="col-lg-6">
													<input class="form-control" id="gxbRecordNumber"
														placeholder="请输入工信部备案号" name="gxbRecordNumber"
														th:value="${settings!=null}?${settings.gxbRecordNumber}">
												</div>
											</div>
											
											<div class="form-group">
												<label class="col-lg-1 control-label"> 版权：</label>
												<div class="col-lg-6">
													<input class="form-control" id="coryright"
														placeholder="请输入版权" name="coryright"
														th:value="${settings!=null}?${settings.coryright}">
												</div>
											</div>
											
											
											
											
											
											
											
											
											
											
											
											


											<!-- 									<div class="form-group">
												<label class="col-lg-1 control-label">访问路径：</label>
												<div class="col-lg-6">
													<input class="form-control" id="path" placeholder="请输入访问路径"
														name="path" th:value="${settings!=null}?${settings.path}"
														required="required">
												</div>
											</div>
 -->


											<div class="form-group">
												<label class="col-lg-1 control-label"></label>
												<div class="col-md-8">
													<button type="submit" class="btn btn-success"
														th:text="${settings!=null?'修改':'添加'}"></button>
													<span></span> <input th:if="${settings} eq null"
														class="btn btn-default" value="重置" type="reset">
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- END OF BLANK PAGE -->

				</div>
			</div>

			<!--/row-->

		</div>
	</div>
	<!--  END OF PAPER WRAP -->
	<!-- 右侧隐藏菜单start -->
	<div th:replace="public/public::right"></div>
	<!-- 右侧隐藏菜单end-->
	<!-- 底部js -->
	<div th:replace="public/public_js::pub_js"></div>


	<div th:replace="public/public_js::public_script"></div>
	<div th:replace="public/public::footer"></div>
	<script th:src="@{/plugs/bootstrap-fileinput/js/fileinput.js}"
		type="text/javascript"></script>
	<!-- Jquery Validate -->
	<script type="text/javascript"
		th:src="@{/plugs/validate/jquery.validate.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/plugs/validate/messages_zh.min.js}"></script>
	<script type="text/javascript" th:inline="javascript"
		th:src="@{/js/admin/settings/settings.js}"></script>
	<div th:replace="public/public_js::validator"></div>
	<script type="text/javascript" th:inline="javascript">
	var path ="";
	var icon = "";
	var logo = "";
	var qRcode = "";
	var picicon;
	var piclogo;
	var picqRcode;
	/* <![CDATA[ */
	   path = [[@{/}]];
	   icon = [[${settings!=null}?${settings.icon}:null]];
	   logo = [[${settings!=null}?${settings.logo}:null]];
	   qRcode = [[${settings!=null}?${settings.qRcode}:null]];
	   if(icon!=null){
		picicon = "<img src='"+path+icon.savePath+"/"+icon.generateName
		+"' class='file-preview-image' style='width:auto;height:160px;'>";
	   }
	   if(logo!=null){
		piclogo = "<img src='"+path+logo.savePath+"/"+logo.generateName
		+"' class='file-preview-image' style='width:auto;height:160px;'>";
	   }
	   if(qRcode!=null){
		   picqRcode = "<img src='"+path+qRcode.savePath+"/"+qRcode.generateName
		+"' class='file-preview-image' style='width:auto;height:160px;'>";
	   }
/* ]]> */

		$("#fileicon").fileinput({
			maxFileCount : 1, //表示允许同时上传的最大文件个数
			allowedFileExtensions : [ 'jpg', 'gif', 'png', 'jpeg','ico' ],//接收的文件后缀
			showUpload: false,
			showCaption: false,
			showPreview : true,//显示预览
			browseClass: "btn btn-primary btn-lg",
			fileType: "any",
     	    previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
      	    initialPreview : [
      	  		 	picicon,
			],
	});
		$("#filelogo").fileinput({
			maxFileCount : 1, //表示允许同时上传的最大文件个数
			allowedFileExtensions : [ 'jpg', 'gif', 'png', 'jpeg' ],//接收的文件后缀
			showUpload: false,
			showCaption: false,
			showPreview : true,//显示预览
			browseClass: "btn btn-primary btn-lg",
			fileType: "any",
     	    previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
      	    initialPreview : [
      	  		 	piclogo,
			],
	});
	
		$("#fileqRcode").fileinput({
			maxFileCount : 1, //表示允许同时上传的最大文件个数
			allowedFileExtensions : [ 'jpg', 'gif', 'png', 'jpeg' ],//接收的文件后缀
			showUpload: false,
			showCaption: false,
			showPreview : true,//显示预览
			browseClass: "btn btn-primary btn-lg",
			fileType: "any",
     	    previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
      	    initialPreview : [
      	    	picqRcode,
			],
	});
	
	
		//点击删除按钮之后将图片所在input清空
		$("#logofile .fileinput-remove-button").click(function(e){
			$("#settingslogo").val(""); 
		})
		//点击删除按钮之后将图片所在input清空
		$("#logofile .fileinput-remove").click(function(e){
		$("#settingslogo").val("");
		})
		
		
		//点击删除按钮之后将图片所在input清空
		$("#iconfile .fileinput-remove-button").click(function(e){
		 	$("#settingsicon").val(""); 
		})
		//点击删除按钮之后将图片所在input清空
		$("#iconfile .fileinput-remove").click(function(e){
			 $("#settingsicon").val("");
		})
		
		//点击删除按钮之后将图片所在input清空
		$("#qRcodefile .fileinput-remove-button").click(function(e){
		 	$("#oldqRcode").val(""); 
		})
		//点击删除按钮之后将图片所在input清空
		$("#qRcodefile .fileinput-remove").click(function(e){
			 $("#oldqRcode").val("");
		})
		
		
		
		var list = null;
	var pics="";
	/* <![CDATA[ */
	 list = [[${settings!=null}?${settings.listBanana}:null]];
	 if(list!=null){
		 for(var i = 0 ;i<list.length;i++){
				
				pics = pics+"<div class='file-preview-frame' id='"+list[i].id+"'><div class='kv-file-content' ><img src='"+path+list[i].savePath+"/"+list[i].generateName+"' class='kv-preview-data file-preview-image' title='"+list[i].originalName+"' alt='"+list[i].originalName+"' style='width:150px;height:150px;'></div>"+
				 "<div class='file-thumbnail-footer'>"+
				 "<div class='file-footer-caption' title='"+list[i].originalName+"'>"+list[i].originalName+"</div>"+
				 "<div class='file-thumb-progress hide'><div class='progress '></div></div>"+
				 "<div class='file-actions'>"+
				 "<div class='file-footer-buttons'>"+
				 "<button type='button' class='kv-file-remove btn btn-xs btn-default' onclick=deleteImg('"+list[i].id+"'); title='Remove file'>"+
				 "<i class='glyphicon glyphicon-trash text-danger'></i></button></div>"+ 
				 "<div class='clearfix'></div></div></div></div>"
			}
	 }
	
/* ]]> */

	
	
		$('#file').fileinput({
			language : 'zh',
			uploadUrl : '#',
			allowedFileExtensions : [ 'jpg', 'png', 'gif', 'jpeg', 'bmp'],
			dropZoneTitle : "上传图片！",
			showUpload : false,// 是否显示上传按钮
			showCaption : true,// 是否显示标题
			showPreview : true,// 显示预览
			dropZoneEnabled : true,//是否显示拖拽区域
			maxFileSize : 1024 * 10, // 单位为kb，如果为0表示不限制文件大小
			// browseClass : "btn btn-primary btn-lg",//上传选择按钮样式
			overwriteInitial : false,
			initialPreviewAsData : false, // 配置上传后是否显示预览
			maxFileCount : 20, // 表示允许同时上传的最大文件个数

			initialPreview : [
				pics,
			],
			// 解决上传图片大小不一
			previewSettings : {
				image : {
					width : "100px",
					height : "140px"
				},
			},
			// 去掉图片上的缩略图按钮
			layoutTemplates : {
				actionDelete : '', //去除上传预览的缩略图中的删除图标
				actionUpload : '',//去除上传预览缩略图中的上传图片；
				actionZoom : '' //去除上传预览缩略图中的查看详情预览的缩略图标。
			},

		})
		
		
		

		function deleteImg(id){
	if(id!=null){
		$.ajax({
			type : 'POST',
			url : "deleteIndexImg",
			data : "id=" + id,
			dataType : "json",
			success : function(data) {
				$("#"+id).remove();
			
			}
		});
	}
		}
		
		
	
		
	</script>
</body>

</html>
