<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>[[${session.settings?.title}]]</title>
<meta name="renderer" content="webkit">
<meta name="force-rendering" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/websites/fushanweb/css/reset.css}">
<link th:href="@{/assets/websites/fushanweb/css/index.css}"
	rel="stylesheet">
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/websites/fushanweb/css/floatad.css}">
<link th:href="@{/assets/websites/fushanweb/css/flexslider.css}"
	rel="stylesheet">
<script type="text/javascript"
	th:src="@{/assets/websites/fushanweb/js/stats.js}" charset="UTF-8"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/websites/fushanweb/css/ddsmoothmenu.css}">
<script type="text/javascript"
	th:src="@{/assets/websites/fushanweb/js/jquery.min.js}"></script>
<script th:src="@{/assets/websites/fushanweb/js/pop-up.js}"
	type="text/javascript" charset="utf-8"></script>
<script th:src="@{/assets/websites/fushanweb/js/jsencrypt.min.js}"
	type="text/javascript" charset="utf-8"></script>
</head>
<style>
.flexslider .slides a img {
	width: 100%;
	/*object-fit: fill;
		    object-fit: contain;
		    object-fit: scale-down;*/
}
</style>

<body>
	<!-- 上海福山证大外国语小学 -->
	<div class="wrap">
		<!--学校标题-->
		<div th:replace="websites/fushanweb/public/public::top"></div>

		<div id="banner_tabs" class="flexslider"
			style="width: 1200px; margin: 0 auto; height: 340px;">
			<ul class="slides">

				<li th:each="bananas:${session.settings?.listBanana}"><img
					width="100%" alt height="100%"
					th:src="|@{/}${bananas?.savePath}${bananas?.generateName}|">

				</li>
			</ul>

			<ol id="bannerCtrl" class="flex-control-nav flex-control-paging">
				<li th:each="bananas,bananasStat:${session.settings?.listBanana}"><a>[[${bananasStat.count}]]</a>
				</li>
			</ol>
		</div>


		<!--主要内容白-->
		<div class="container">
			<div class="content_top">
				<!-- 学校公告 -->
				<div class="xxgg left">
					<div class="notice_title">
						<b class="left">学校公告</b> <span class="right"
							onclick="window.open('/portal/news/category/4311')">MORE</span>
					</div>
					<marquee direction="up" behavior="scroll" onmouseover="this.stop()"
						onmouseout="this.start()" style="height: 275px">
						<dl>
							<dt th:each="news:${newslist}"
								th:if="${news?.webMenu?.name eq '学校公告'}">
								<span class="ggrq left">[[${#dates.format(news.createTime,'MM-dd')}]]</span>
								<a href="/portal/news/info/175123" target="_blank">
									<div class="circleprogress" style="margin-top: 22px;"></div> <span
									class="gg_title">[[${#strings.abbreviate(news?.title,12)}]]</span>
								</a>
							</dt>
						</dl>
					</marquee>
				</div>
				<!-- 校园新闻 -->
				<div class="notice left">
					<div class="notice_title">
						<b class="left">校园新闻</b>
						<!-- <span class="right">MORE</span> -->
					</div>
					<!--图片轮播-->
					<div class="info_top_banner left">
						<div id="info_top_banner" class="flexslider left"
							style="height: 270px;">
							<ul class="slides">
								<li th:each="news:${newslist}" th:if="${news?.webMenu?.name eq '校园新闻'}">
								<a th:title="${news?.title}"
									target="_blank" href="/portal/news/info/175404"> <img
										width="100%" height="296px" alt
										th:src="|@{/}${news?.newsImg?.savePath}${news?.newsImg?.generateName}|">
								</a></li>
							</ul>
							<ol id="info_top_bannerCtrl"
								class="flex-control-nav flex-control-paging">
								<li th:each="news,newsStat:${newslist}"  th:if="${news?.webMenu?.name eq '校园新闻'}"><a>[[${news.title}]][[${newsStat.count}]]</a></li>

							</ol>
						</div>
					</div>
					<div class="left" style="margin-left: 20px; width: 440px;">
						<th:block th:each="news:${newslist}" th:if="${news?.webMenu?.name eq '校园新闻'}">
										<div class="newslist">
											<img th:src="@{/assets/websites/fushanweb/images/jt.png}"
												class="jt"> <a href="/portal/news/info/174940"
												target="_blank"> <span class="news_title">[[${#strings.abbreviate(news?.title,30)}]]</span>
												<span class="right">[[${#dates.format(news.createTime,'yyyy-MM-dd')}]]</span>
											</a>
										</div>
						</th:block>
					</div>
				</div>
				<!-- 广告条 -->
				<div id="banner_tabs2" class="flexslider">
					<ul class="slides">
						<li><a title href="#" target="_blank"> <img alt
								height="96px"
								style="background: url(https://cdn.u-jy.cn/3568257855/2018/08/08/93广告条.png) no-repeat center;"
								th:src="@{/assets/websites/fushanweb/images/alpha.png}">
						</a></li>
					</ul>

					<ol id="adCtrl" class="flex-control-nav flex-control-paging">
						<li><a>11111111111111</a></li>

					</ol>
				</div>
			</div>

			<img src="images/banner1.png">

















		</div>






		<script type="text/javascript"
			th:src="@{/assets/websites/fushanweb/js/script.js}"></script>
		<script type="text/javascript"
			th:src="@{/assets/websites/fushanweb/js/template.js}"></script>
		<script th:src="@{/assets/websites/fushanweb/js/floatingAd.js}"></script>
		<script type="text/javascript"
			th:src="@{/assets/websites/fushanweb/js/jquery.SuperSlide.2.1.1.js}"></script>
		<script type="text/javascript"
			th:src="@{/assets/websites/fushanweb/js/slider.js}"></script>

		<script type="text/javascript">
			model.show_less(".news_title", 22); //限制字数
			model.show_less(".gg_title", 12); //限制字数
			model.show_less(".tc_title", 15); //限制字数
			model.show_less(".new_title", 18); //限制字数
			model.show_less(".new_detail", 51); //限制字数
			model.show_less(".teacher-detail", 51); //限制字数
			/*导航栏*/
			$(document).ready(function() {
				$(".navbg").capacityFixed();
				$("#navul > li").not(".navhome").hover(function() {
					$(this).addClass("navmoon");
				}, function() {
					$(this).removeClass("navmoon");
				});

				$("#navul li ul li:last-child").css('border-bottom', 'none'); //去除最后一栏的虚线边框
				$(".teacher-item:last-child").css('border-bottom', 'none'); //去除学习资源库最后一栏的虚线边框
			});
			// 历史上的今天
			function Appendzero(obj) {
				if (obj < 10)
					return "0" + "" + obj;
				else
					return obj;
			}
			var myDate = new Date();
			var month = myDate.getMonth() + 1; //获取当前月份(0-11,0代表1月)
			month = Appendzero(month);
			var date = myDate.getDate(); //获取当前日(1-31)
			date = Appendzero(date);
			var tody = month + "" + date;
			$(function() {
				$.ajax({
					url : "https://baike.baidu.com/cms/home/eventsOnHistory/"
							+ month + '.json',
					type : "get",
					dataType : "json",
					success : function(data) {
						$('.history_').empty();
						var html = '';
						$.each(data, function(index, item) {
							var data_ = item;
							data_[tody].forEach(function(e) {
								html += '<p>' + e.title + '</p>'
							});
						});
						$('.history_').html(html);
					}
				});
			});
			/*banner轮播*/
			$(function() {
				var bannerSlider = new Slider($('#banner_tabs'), {
					time : 5000,
					delay : 400,
					event : 'hover',
					auto : true,
					mode : 'fade',
					controller : $('#bannerCtrl'),
					activeControllerCls : 'active'
				});
			});
			//新闻聚汇轮播
			$(function() {
				var bannerSlider = new Slider($('#info_top_banner'), {
					time : 5000,
					delay : 400,
					event : 'hover',
					auto : true,
					mode : 'fade',
					controller : $('#info_top_bannerCtrl'),
					activeControllerCls : 'active'
				});
			});
			// 广告条轮播
			$(function() {
				var bannerSlider = new Slider($('#banner_tabs2'), {
					time : 5000,
					delay : 400,
					event : 'hover',
					auto : true,
					mode : 'fade',
					controller : $('#adCtrl'),
					activeControllerCls : 'active'
				});
			});
			$(function() {
				var bannerSlider = new Slider($('#sx_img'), {
					time : 5000,
					delay : 400,
					event : 'hover',
					auto : true,
					mode : 'fade',
					controller : $('#sx_bannerCtrl'),
					activeControllerCls : 'active'
				});
			});

			/* 走马灯*/
			jQuery(".schoolAlbum").slide({
				mainCell : "dl",
				vis : 4,
				prevCell : ".next",
				nextCell : ".prev",
				effect : "leftMarquee",
				interTime : 20,
				autoPlay : true,
				trigger : "click"
			});

			//飘窗
			$(".remove_piao").click(function() {
				$(".left_ban").remove();
			});

			//飘窗
			$(function() {
				$
						.floatingAd({
							delay : 30,
							isLinkClosed : false,
							ad : [
									{
										headFilter : 0.3,
										'img' : 'https://cdn.u-jy.cn/8effd44cb67246839d6b966358127dc2.png',
										'linkUrl' : '###',
										'z-index' : 100,
										'title' : '',
										'imgHeight' : '',
										'imgWidth' : '',
										'closed-icon' : '/assets/portal/global/images/close.png'
									}, ],
							onClose : function(elem) {
								//						showTips('关闭成功',1000,1);
							}
						});
			});
			// 关键字搜索
			$('#search_btn').click(function() {
				$("#search_box input").each(function() {
					if ($(this).css("display") != 'none') {
						key = $(this).val();
					}
				});
				var key = $('#search_key').val();
				if (key == "") {
					showTips("请输入搜索内容~");
					return false;
				} else {
					window.open('/portal/search?type=1&key=' + key);
				}
			});
			$(document).ready(function() {
				$("#banner_tabs li").each(function() {
					if ($(this).show()) {
						var banner_img = $(this).find(".banner_img").height();
						$("#banner_tabs").height(banner_img)
					}
				});

			});
			$(window).resize(function() {
				$("#banner_tabs li").each(function() {

					if ($(this).show()) {
						var banner_img = $(this).find(".banner_img").height();
						$("#banner_tabs").height(banner_img)
					}
				});
			});
		</script>
</html>