<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>[[${session.settings?.title}]]</title>
<meta name="renderer" content="webkit">
<meta name="force-rendering" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/websites/fushanweb/css/reset.css}">
<link th:href="@{/assets/websites/fushanweb/css/index.css}"
	rel="stylesheet">
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/websites/fushanweb/css/floatad.css}">
<link th:href="@{/assets/websites/fushanweb/css/flexslider.css}"
	rel="stylesheet">
<script type="text/javascript"
	th:src="@{/assets/websites/fushanweb/js/stats.js}" charset="UTF-8"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/websites/fushanweb/css/ddsmoothmenu.css}">
<script type="text/javascript"
	th:src="@{/assets/websites/fushanweb/js/jquery.min.js}"></script>
<script th:src="@{/assets/websites/fushanweb/js/pop-up.js}"
	type="text/javascript" charset="utf-8"></script>
<script th:src="@{/assets/websites/fushanweb/js/jsencrypt.min.js}"
	type="text/javascript" charset="utf-8"></script>
</head>
<style>
.flexslider .slides a img {
	width: 100%;
	/*object-fit: fill;
		    object-fit: contain;
		    object-fit: scale-down;*/
}
</style>

<body>
	<!-- 上海福山证大外国语小学 -->
	<div class="wrap">
		<!--学校标题-->
		<div th:replace="websites/fushanweb/public/public::top"></div>

		<div id="banner_tabs" class="flexslider"
			style="width: 1200px; margin: 0 auto; height: 340px;">
			<ul class="slides">

				<li th:each="bananas:${session.settings?.listBanana}"><img
					width="100%" alt height="100%"
					th:src="|@{/}${bananas?.savePath}${bananas?.generateName}|">

				</li>
			</ul>

			<ol id="bannerCtrl" class="flex-control-nav flex-control-paging">
				<li th:each="bananas,bananasStat:${session.settings?.listBanana}"><a>${bananasStat}</a>
				</li>
			</ol>
		</div>


		<!--主要内容白-->
		<div class="container">
			<div class="content_top">
				<!-- 学校公告 -->
				<div class="xxgg left">
					<div class="notice_title">
						<b class="left">学校公告</b> <span class="right"
							onclick="window.open('/portal/news/category/4311')">MORE</span>
					</div>
					<marquee direction="up" behavior="scroll" onmouseover="this.stop()"
						onmouseout="this.start()" style="height: 275px">
						<dl>
							<dt th:each="news:${newslist}"
								th:if="${news?.webMenu?.name eq '学校公告'}">
								<span class="ggrq left">[[${#dates.format(news.createTime,'MM-dd')}]]</span>
								<a href="/portal/news/info/175123" target="_blank">
									<div class="circleprogress" style="margin-top: 22px;"></div> <span
									class="gg_title">[[${#strings.abbreviate(news?.title,12)}]]</span>
								</a>
							</dt>
						</dl>
					</marquee>
				</div>
				<!-- 校园新闻 -->
				<div class="notice left">
					<div class="notice_title">
						<b class="left">校园新闻</b>
						<!-- <span class="right">MORE</span> -->
					</div>
					<!--图片轮播-->
					<div class="info_top_banner left">
						<div id="info_top_banner" class="flexslider left"
							style="height: 270px;">
							<ul class="slides">

								<li th:each="news:${newslist}"><a th:title="${news?.title}"
									target="_blank" href="/portal/news/info/175404"> <img
										width="100%" height="296px" alt
										th:src="|@{/}${news?.newsImg?.savePath}${news?.newsImg?.generateName}|">
								</a></li>

							</ul>
							<ol id="info_top_bannerCtrl"
								class="flex-control-nav flex-control-paging">
								<li th:title="news,newsStat:${newslist}"><a>[[${newsStat}]]</a></li>

							</ol>
						</div>
					</div>
					<div class="left" style="margin-left: 20px; width: 440px;">


						<a href="/portal/news/info/175404">
							<p class="title new_title" id="news_title">“过一个风清气正的教师节”倡议书</p>
						</a>
						<div class="fs-16 color-grey new_detail">给全体福山证大老师的一封信做新时代“四有”好教师
							倡议书亲爱的福山证大伙伴们:秋风送爽,桃李芬芳之际,
							我们将迎来第36个教师节。福山证大外国语小学提前向每一位教职工致以崇高的敬意并送上最真挚的节日问候：“老师们，您辛苦了，节日快乐！”同时，学校党政工和德育室联合向全体教师发出倡议，争做新时代
							“四有”好教师。教师是太阳底下最光辉的职业。在万千职业中，我们选择了“教师”作为终身职业。这样一种选择，于个人，是职业；于国家，是使命。新时代，习近平总书记要求全体教师做有理想信念、有道德情操、有扎实学识、有仁爱之心的“四有”好老师，这是对教师群体提出了新的期待。教书育人，是我们肩负的神圣使命。这份责任和使命需要落实到我们每一堂课，每一次活动，每一项具体的工作中去。在此，我们向福山证大教师发出倡议并率先做到：一、坚定信念，做正能量的传递者在教书育人的岗位上，爱国、励志、求真、力行，将远大的理想与具体的教育教学工作相结合，传递向上向善的正气，做正能量的传递者。二、明德至善，做立德树人的践行者以身作则，一言一行，遵循师德规范；一举一动，做好学生榜样。教育为本，德育为先，立足课堂，做培育社会主义核心价值观的践行者。三、潜心研究，做永远的学习者以学习者的姿态迎接未来的挑战。勤勉奋进，潜心钻研，全力投身教育教学改革。在实践中丰富教育智慧，在研究中成就专业精彩。四、尊重学生，做成长的守望者读懂孩子，以人为本。在陪伴学生成长的过程中，满怀博大爱心，成为孩子美好心灵的守护者，成长的守望者。正如那些战
							“疫”勇士，坚守岗位就是最美的逆行！学习他们用心守护，用爱护航，三尺讲台，为学生前进领航；一方校园，为祖国育人尽职。不忘初心，牢记使命，我们立志做新时代“四有”好老师，以实际行动为教育事业奉献终身！同时，我们承诺坚决不接受家长宴请或收受家长礼品以及任何形式的礼金。坚持生活的原本，保持为师的纯真，让教师的职业更加神圣、更加崇高，让人民教师的形象更加完美、更加光辉!让我们共同为福娃营造一个纯净的校园，这个节日，我们“走心”不走礼！&nbsp;&nbsp;
							福山证大外国语小学党支部&nbsp;2020.9.8&nbsp;&nbsp;给全体福山证大家长的一封信“过一个风清气正的教师节”
							倡议书亲爱的福爸、福妈:秋风送爽，桃李芬芳，洋溢着新鲜气息的9月扑面而来。9月，是每一位孩子崭新的启程；9月，是每一位老师全新的投入；9月，我们将迎来第36个教师节。在教师节即将来临之际，我们真诚地感谢您对福山证大外国语小学一直以来的关心和支持!您的理解和配合是我们全体老师强大的工作动力。在此，我们全体教职员工也向家长郑重承诺：廉洁从教、为人师表，公平公正地对待每一位学生，永远带着责任心和爱心去温暖学生，让每一个孩子乐学每一天。与此同时，我们向全体家长发出倡议，请和老师们一起“过一个风清气正的教师节”，并郑重承诺：我们不接受任何家长礼品以及任何形式的礼金。我们会全心全意呵护每一个孩子；公平公正对待每一个孩子；严守师德规范，敬业爱岗，不断追求专业进步，做一个爱孩子、懂孩子、有专业素养与能力的具有职业幸福感的教师！我们倡导家长朋友们用赏识、微笑和最积极的家校合作来表达对教师的尊重、理解和认同。请您引导孩子向老师表达最朴素的心意：可以深深鞠躬，说一句"老师，您辛苦了，节日快乐!"
							送给老师真诚的问候;可以完成一份最棒的作业，送给老师最好的自己；可以帮老师搬沉甸甸的作业本，送给老师稍许的轻松；可以写一份给老师的评语，送给老师温暖的知心话......亲爱的家长朋友们，风清气正的教育环境需要家校共同维护。让我们携起手来，自觉响应倡议，悉心维护教师美好的形象，让"廉洁从教"的清风，吹遍福山证大外国语小学的每一个角落，让我们共同为孩子创造一个美好的未来!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							&nbsp;&nbsp;&nbsp;&nbsp; 福山证大外国语小学&nbsp;&nbsp;
							2020.9.8&nbsp;给全体福山证大“福娃”的一封信“做最好的自己”庆教师节
							倡议书亲爱的福娃们：你们好！随着新学期的开启，第36个教师节即将来临。尊师重教是中华民族的传统美德，每逢教师节，同学们和家长朋友们都会利用各种形式表达自己对老师的祝福之意。但是那满室的鲜花虽美，却只见凋零的落寞；那精美的礼品诱人，却不曾感受尊重与真诚；那昂贵的贺卡精致，却为环保增加一份沉重......其实同学们的一张笑脸、一句问候、一次进步才是给老师最好的礼物。为创建绿色低碳校园，树立廉洁节俭风气。让我们全体证大的福娃怀着感恩的心，用“我给老师送惊喜”向老师们献上我们最诚挚的祝福和最衷心的感谢。同学们，我们送给老师的小惊喜可以是：说一声真诚的祝福；送上一个热情的拥抱；写上一句真挚的问候；交上一份整洁的作业；遵守校规，不给老师添麻烦……同学们，让我们携起手来，用实际行动，表达我们对老师们的深情厚谊。也希望同学们可以从教师节之日开始，让这些细节贯穿学期始终，用最温馨的行动温暖老师的心田。最后，让我们怀着深深的敬意，向老师们说一声：“老师，您辛苦了！我们祝您节日快乐！”福山证大外国语小学少工委2020年9月8日</div>
						<a class="click-detail" href="/portal/news/info/175404"
							target="_blank">[详情]</a>
						<div class="newslist">
							<img src="images/jt.png" class="jt"> <a
								href="/portal/news/info/174940" target="_blank"> <span
								class="news_title">我们是光盘小明星——福娃践行“文明就餐 杜绝浪费”倡议书</span> <span
								class="right">2020-09-01</span>
							</a>
						</div>
						<div class="newslist">
							<img src="images/jt.png" class="jt"> <a
								href="/portal/news/info/174843" target="_blank"> <span
								class="news_title">遵守交规 守护生命——记五（7）中队航天小队雏鹰假日活动</span> <span
								class="right">2020-08-31</span>
							</a>
						</div>
						<div class="newslist">
							<img src="images/jt.png" class="jt"> <a
								href="/portal/news/info/174768" target="_blank"> <span
								class="news_title">新起点·新征程——记2020学年福山证大外国语小学新生培训&家长学校</span> <span
								class="right">2020-08-29</span>
							</a>
						</div>
						<div class="newslist">
							<img src="images/jt.png" class="jt"> <a
								href="/portal/news/info/174641" target="_blank"> <span
								class="news_title">雏鹰雏鹰！证大少年在行动！</span> <span class="right">2020-08-20</span>
							</a>
						</div>
						<div class="newslist">
							<img src="images/jt.png" class="jt"> <a
								href="/portal/news/info/174642" target="_blank"> <span
								class="news_title">劳动让生活更美好——福娃暑假劳动必修课</span> <span
								class="right">2020-07-15</span>
							</a>
						</div>




					</div>
				</div>
				<!-- 广告条 -->
				<div id="banner_tabs2" class="flexslider">
					<ul class="slides">
						<li><a title href="#" target="_blank"> <img alt
								height="96px"
								style="background: url(https://cdn.u-jy.cn/3568257855/2018/08/08/93广告条.png) no-repeat center;"
								src="images/alpha.png">
						</a></li>
					</ul>

					<ol id="adCtrl" class="flex-control-nav flex-control-paging">
						<li><a></a></li>

					</ol>
				</div>
			</div>

			<img src="images/banner1.png">

















		</div>






		<script type="text/javascript"
			th:src="@{/assets/websites/fushanweb/js/script.js}"></script>
		<script type="text/javascript"
			th:src="@{/assets/websites/fushanweb/js/template.js}"></script>
		<script th:src="@{/assets/websites/fushanweb/js/floatingAd.js}"></script>
		<script type="text/javascript"
			th:src="@{/assets/websites/fushanweb/js/jquery.SuperSlide.2.1.1.js}"></script>
		<script type="text/javascript"
			th:src="@{/assets/websites/fushanweb/js/slider.js}"></script>

		<script type="text/javascript">
			model.show_less(".news_title", 22); //限制字数
			model.show_less(".gg_title", 12); //限制字数
			model.show_less(".tc_title", 15); //限制字数
			model.show_less(".new_title", 18); //限制字数
			model.show_less(".new_detail", 51); //限制字数
			model.show_less(".teacher-detail", 51); //限制字数
			/*导航栏*/
			$(document).ready(function() {
				$(".navbg").capacityFixed();
				$("#navul > li").not(".navhome").hover(function() {
					$(this).addClass("navmoon");
				}, function() {
					$(this).removeClass("navmoon");
				});

				$("#navul li ul li:last-child").css('border-bottom', 'none'); //去除最后一栏的虚线边框
				$(".teacher-item:last-child").css('border-bottom', 'none'); //去除学习资源库最后一栏的虚线边框
			});
			// 历史上的今天
			function Appendzero(obj) {
				if (obj < 10)
					return "0" + "" + obj;
				else
					return obj;
			}
			var myDate = new Date();
			var month = myDate.getMonth() + 1; //获取当前月份(0-11,0代表1月)
			month = Appendzero(month);
			var date = myDate.getDate(); //获取当前日(1-31)
			date = Appendzero(date);
			var tody = month + "" + date;
			$(function() {
				$.ajax({
					url : "https://baike.baidu.com/cms/home/eventsOnHistory/"
							+ month + '.json',
					type : "get",
					dataType : "json",
					success : function(data) {
						$('.history_').empty();
						var html = '';
						$.each(data, function(index, item) {
							var data_ = item;
							data_[tody].forEach(function(e) {
								html += '<p>' + e.title + '</p>'
							});
						});
						$('.history_').html(html);
					}
				});
			});
			/*banner轮播*/
			$(function() {
				var bannerSlider = new Slider($('#banner_tabs'), {
					time : 5000,
					delay : 400,
					event : 'hover',
					auto : true,
					mode : 'fade',
					controller : $('#bannerCtrl'),
					activeControllerCls : 'active'
				});
			});
			//新闻聚汇轮播
			$(function() {
				var bannerSlider = new Slider($('#info_top_banner'), {
					time : 5000,
					delay : 400,
					event : 'hover',
					auto : true,
					mode : 'fade',
					controller : $('#info_top_bannerCtrl'),
					activeControllerCls : 'active'
				});
			});
			// 广告条轮播
			$(function() {
				var bannerSlider = new Slider($('#banner_tabs2'), {
					time : 5000,
					delay : 400,
					event : 'hover',
					auto : true,
					mode : 'fade',
					controller : $('#adCtrl'),
					activeControllerCls : 'active'
				});
			});
			$(function() {
				var bannerSlider = new Slider($('#sx_img'), {
					time : 5000,
					delay : 400,
					event : 'hover',
					auto : true,
					mode : 'fade',
					controller : $('#sx_bannerCtrl'),
					activeControllerCls : 'active'
				});
			});

			/* 走马灯*/
			jQuery(".schoolAlbum").slide({
				mainCell : "dl",
				vis : 4,
				prevCell : ".next",
				nextCell : ".prev",
				effect : "leftMarquee",
				interTime : 20,
				autoPlay : true,
				trigger : "click"
			});

			//飘窗
			$(".remove_piao").click(function() {
				$(".left_ban").remove();
			});

			//飘窗
			$(function() {
				$
						.floatingAd({
							delay : 30,
							isLinkClosed : false,
							ad : [
									{
										headFilter : 0.3,
										'img' : 'https://cdn.u-jy.cn/8effd44cb67246839d6b966358127dc2.png',
										'linkUrl' : '###',
										'z-index' : 100,
										'title' : '',
										'imgHeight' : '',
										'imgWidth' : '',
										'closed-icon' : '/assets/portal/global/images/close.png'
									}, ],
							onClose : function(elem) {
								//						showTips('关闭成功',1000,1);
							}
						});
			});
			// 关键字搜索
			$('#search_btn').click(function() {
				$("#search_box input").each(function() {
					if ($(this).css("display") != 'none') {
						key = $(this).val();
					}
				});
				var key = $('#search_key').val();
				if (key == "") {
					showTips("请输入搜索内容~");
					return false;
				} else {
					window.open('/portal/search?type=1&key=' + key);
				}
			});
			$(document).ready(function() {
				$("#banner_tabs li").each(function() {
					if ($(this).show()) {
						var banner_img = $(this).find(".banner_img").height();
						$("#banner_tabs").height(banner_img)
					}
				});

			});
			$(window).resize(function() {
				$("#banner_tabs li").each(function() {

					if ($(this).show()) {
						var banner_img = $(this).find(".banner_img").height();
						$("#banner_tabs").height(banner_img)
					}
				});
			});
		</script>
</html>